.container{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
}

.username {
    color: black;
    transition: color 2.9s ease-in-out;
    height: 30px;
}

.link {
    width: 100px;
    height: 30px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.username.link:hover {
    color: red; 
}

.headerTitle{
    font-size: 20px;
    color: blue;
}

.navigation-container{
    background-color: azure;
}

body{
    margin: 0px;
}