<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Login Page</title>
</head>
<body>
    {{>header}}
    <form action="/login" method="post" class="form">
    <h2>Login</h2>
        <div class="loginContainer">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <p class="error">{{errorUsername}}</p>
        </div>

        <div class="loginContainer">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <p class="error">{{errorPassword}}</p>
        </div>

        <button class="btn">Submit</button>
    </form>
    {{>footer}}
</body>
</html>