<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Open An Account</title>
</head>
<body>
    {{>header}}
    <div>
        <h2 class="openAccountTitle">Create an Account</h2>

        <form class="form" method="post" action="/openAccount">
            <h3>Account Types</h3>

            <span class="openAccountFormInputContainer">
                <label for="chequing">Chequing</label>
                <input type="radio" id="chequing" name="accountType" value="Chequing">
            </span>
            
            <span class="openAccountFormInputContainer">
                <label for="savings">Savings</label>
                <input type="radio" id="savings" name="accountType" value="Savings">
            </span>

            <button class="btn" id="btn" value="submit">Submit</button>
            <button class="btn" id="cancelBtn" type="button">Cancel</button>
        </form>
    </div>
    {{>footer}}
</body>
<script src="../public/js/header.js"></script>

<script type="text/javascript">
    const chequingInput = document.getElementById("chequing");
    const savingsInput = document.getElementById("savings");
    const btn = document.getElementById("btn");
    const cancelBtn = document.getElementById("cancelBtn");

    function updateSubmitButtonState() {
    btn.disabled = !chequingInput.checked && !savingsInput.checked;
    }

    function cancel() {
    location.href = "/bank";
    }

    chequingInput.addEventListener("change", updateSubmitButtonState);
    savingsInput.addEventListener("change", updateSubmitButtonState);
    cancelBtn.addEventListener("click", cancel);
</script>
</html>