<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer>
        <h2>By: Josh Date</h2>
        <p>Email: jdate@myseneca.ca</p>
        <span>Student Number: 112343157</span>
    </footer>
</body>
</html>