<nav class="">
        <div class="container">
            <h1 class="headerTitle">WEB BANK</h1>
            <ul>
                 {{#if user}}
                    {{#with user}}
                        <li class="username" onmouseover="showLogoutLink(this)" onmouseout="hideLogoutLink(this)">
                            {{username}}
                        </li>
                    {{/with}}  
                {{/if}}
            </ul>
        </div>
</nav>