<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Deposit Page</title>
</head>
<body>
    {{>header}}
        <form action="/deposit/{{account.accountNumber}}"method="post" class="form depositForm">
        <div class="depositContainer">
            <h1>Deposit</h1>
            <div>
                <h2>Account Number</h2>
                <p>{{account.accountNumber}}</p>
            </div>
        </div>
            <input type="text" name="depositAmount" id="depositAmount" placeholder="Enter the amount you want to deposit">

            <button type="submit" class="btn">Submit</button>
             <button type="submit" id="cancelBtn" class="btn">Cancel</button>
        </form>
        </div>
    {{>footer}}
</body>

<script type="text/javascript">
    const btn = document.getElementById("cancelBtn");
    btn.addEventListener("click", () => {
        location.href = "/bank";
    })
</script>
</html>